jdbc.driver=com.mysql.jdbc.Driver
jdbc.url={{jdbc.write.url}}
jdbc.user={{jdbc.write.username}}
jdbc.password={{jdbc.write.password}}
jdbc.maxConnections={{jdbc.write.maxConnections}}           
r-jdbc.driver=com.mysql.jdbc.Driver
r-jdbc.url={{jdbc.read.url}}
r-jdbc.user={{jdbc.read.username}}
r-jdbc.password={{jdbc.read.password}}
r-jdbc.maxConnections={{jdbc.read.maxConnections}}
showSql={{show.sql}}
